.payment-container {
  width: 100%;
  height: fit-content;
  max-width: 1400px;
  background-color: rgb(234, 237, 237);
}

.payment-main-container {
  padding: 15px;
  display: flex;
}

.review-container {
  background-color: #fff;
  flex: 0.7;
  padding: 15px;
}

.review-container h2 {
  font-weight: 500;
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
}

.payment-address-container {
  margin-top: 20px;
}

.payment-address-container {
  margin-top: 10px;
  margin-left: 10px;
}

.payment-address-container p {
  font-size: 14px;
  margin-top: 4px;
}

.subtotal-container {
  flex: 0.3;

  margin-left: 10px;
}

.payment-box {
  margin-top: 15px;
}

.payment-box div {
  margin-top: 15px;
  margin-left: 15px;
}

.payment-box p {
  font-size: 14px;
}

.payment-order-container {
  margin-top: 30px;
}

.place-order-btn {
  width: 65%;
  height: 33px;
  margin-top: 20px;
  background-color: #ffd814;
  border: none;
  outline: none;
  border-radius: 8px;
}

@media only screen and (max-width: 1200px) {
  .payment-main-container {
    flex-direction: column;
  }
}
